<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>Ngnix, configuration by Ansible</h1>
  <p>If you can see this, Ansible succefully installed nginx.</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
